{% include "header.html" %}
<h1>Previous Order</h1>

{% if session["user"] is defined %}
<p>Previous Order/s made from {{ session["user"]["first_name"] }}:</p>
{% if order_list %}
<table>
  <tr>
    <th>Order Date</th>
    <th></th>
    <th>Order Details</th>
  </tr>
  {% for order in order_list %}
  <tr>
    <td>{{ order["orderdate"] }}</td>
    {% for i in order["details"] %}
    <td></td>
    <td>{{ i.name }}({{ i.qty }}) = {{ i.subtotal }},</td>
    {% endfor %}
  </tr>
</table>
{% endfor %} {% else %}
<p>No previous order/s found.</p>
{% endif %} {% else %}
<p>Please login to view previous orders.</p>
{% endif %} {% include "footer.html" %}
